.modalContainer {
  width: 100vw;
  z-index: 200;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica', sans-serif; 
  
}
.modalContainerContent {
  width: 80vw;
  height: 92vh;
  overflow-y: auto;
  border-radius: 3rem;
  background-color: #e0ebc2;
  color: #FFFFBF; 
  display: flex;
  flex-direction: column;
  position: relative;

}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  background-color: #e0ebc2;
    color: #FFFFBF; 
}

.productContainerInputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #e0ebc2;
 
}

.ingredientesTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  margin-bottom: 3vh;

}

.ingredientesTableContainerItem {
  display: flex;
  flex-direction: column;
  width: 90%;
  
}
