

  .navbar-container {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9d162; /* Dark background color */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.89); /* Subtle shadow for depth */
  }
  
  .navbar-title {
    font-size: 3rem; /* Larger font size */
    color: #FFFFBF; /* White text color */
    font-weight: bold;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1.5px; /* Spacing between letters */
  }

  .button-container {
    display: flex;
   
   
    height: 100vh; /* Ensure the button is centered vertically */
  }
  
  .custom-button {
    background-color: #a6c732 !important; /* Use !important to override other styles */
    color: #FFFFBF !important;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    
    
  }
  
  .custom-button:hover {
    background-color: rgb(142, 190, 53) !important;
  }
  .button-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  width: 99%;
  padding: 0.4rem;
}
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .content-container {
    margin-top: 64px; /* Ajusta este valor según la altura de tu NavBar */
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }