
  

  .navbar-container {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9d162; /* Dark background color */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.89); /* Subtle shadow for depth */
  }
  
  .navbar-title {
    font-size: 3rem; /* Larger font size */
    font-family: 'Helvetica', sans-serif; /* Utilizando la tipografía Helvetica */
    color: #ffffff; /* White text color */
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1.5px;
  }

  .button-container {
    display: flex;
   
   
    height: 100vh; /* Ensure the button is centered vertically */
  }
  
  .custom-button {
    align-items: center;
    background-color: #a6c732; /* Primary color */
    color: #000000;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .custom-button:hover {
    background-color: #b9d162; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  .custom-button:active {
    transform: translateY(0); /* Reset transform on click */
  }